@media only screen and (max-width: 600px) {
    /* Nav Bar */
   .nav-list .nav-items:nth-child(1) {
        display: none;
   }
   .nav-list .nav-items:nth-child(2) {
        display: none;
   }
   .nav-list .nav-items:nth-child(3) {
        display: none;
   }
   .nav-list .nav-items:nth-child(4) {
        display: none;
   }
   .nav-list .nav-items:nth-child(5) {
        display: block;
        margin-right: 20px;
   }

   .nav-logo-heading {
    margin-left: 40px;
   }



   .main {
    width: 100%;
   }

   /* Hero Section */
   .Hero-Section {
        flex-direction: column;
   }

   .Hero-Section-Slogan .Hero-Section-text {
        font-weight: 700;
        font-size: 4rem;
        text-align: center;
   }

   .Hero-Section-body {
        /* display: flex;
        flex-direction: column; */
   }

   .Hero-Section-desc {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 24px;
   }

   .Hero-Section-btn {
        display: flex;  
        margin: 24px auto 50px;
   }

   /* .compainies-section */
   .compainies-section-wrap {
     margin-top: 120px;
   }

   .compainies-section-text {
     font-size: 1.4rem;
   }

   .compainies-section__img  {
     width: 80%;
     height: 40px;
   }

   /* Brand Section */
   .brand-section {
     flex-direction: column-reverse;
   }

   .brand-section__right {
     margin-left: 0;
   }

   .brand-section__heading {
     font-size: 3.2rem;
     text-align: center;
     width: 100%;
   }

   .brand-section-desc {
     font-size: 1.2rem;
     text-align: center;
     margin: 0 30px;
   }

   .brand-section__img {
     margin-top: 78px;
     width: 100%;
   }

   .brand-section__icon {
     display: none;
     
   }

   .brand-section--arrown-down {
     display: block;
     margin: 0 auto;
     position: relative;
     top: 28px;
   }

   /* Custome Section */
   .custome-section {
     flex-direction: column;
     margin-top: 120px;
   }

   .custome-section-left {
     margin-right: 0;
   }

   .custome-section__heading {
     text-align: center;
     font-size: 3.2rem;
     width: 100%;
   }

   .custome-section-desc {
     text-align: center;
     font-size: 1.2rem;
     margin: 0 48px;
   }

   .custome-section-icon {
     display: none;
   }

   .custome-section--arrown-down {
     display: block;
     position: relative;
     top: 28px;
     margin: 0 auto;
     
   }

   .custome-section__img {
     margin-top: 78px;
   }

   /* Testimonial Section */
.testimonial__heading {
  font-weight: 400;
  font-size: 1.2rem;
}

.testimonial--introduce {
  font-size: 3.2rem;
}

.testimonial__list {
  flex-direction: column;
}

.testimonial__item {
  margin: 0 auto 20px;
  width: 80%;
}

/* Contact Section */
.contact-section {
  flex-direction: column;
  border-radius: 5px;
  width: 80%;
  margin: 120px auto 0 auto;
}

.contact-section__img {
  display: none;
}

.contact-section__right {
  margin-left: 0;
}

.contact-section__heading {
  font-size: 3.2rem;
  margin: 56px 20px 32px 20px;
  text-align: center;
}

.contact-section-desc {
  text-align: center;
  margin: 0 20px 48px 20px;
}

.contact-section-btn {
  position: relative;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
}

/* Footer */
.footer {
  height: auto;
  border-radius: 4px;
}

.footer-wrap {
  flex-direction: column;
}

.digital-desc,
.resources-item,
.company-item,
.social-item {
  margin: 0 auto;
  margin-top: 24px;
}

.copyright {
  position: relative;
  bottom: 40px;
}

}

